<a href="https://colab.research.google.com/github/HigurashiKagome/AI/blob/main/AI_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_9%EC%9B%94_15%EC%9D%BC%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
df = pd.DataFrame(
    np.array([
        ['김현권', 'Playing guitar','Korean', '17'],
        ['안성현', 'Watching Netflix', 'Korean', '12'],
        ['나혜란', 'Watching Animation', 'Korean', '17'],
        ['예라이', 'Playing Video Games', 'Spanish','17'],
      ]), columns=['Name', 'Hobby', 'Nationality','Credit']
)
df

  Name                Hobby Nationality Credit
0  김현권       Playing guitar      Korean     17
1  안성현     Watching Netflix      Korean     12
2  나혜란   Watching Animation      Korean     17
3  예라이  Playing Video Games     Spanish     17

In [ ]:
dict_Team2 = {'Name' : [ '김현권', '안성현', '나해란', '예라이'],
              'Nationality' : ['Korean', 'Korean', 'Korean', 'Spanish'],
              'Hobby' : ['기타', '넷플', '애니', '게임'],
              'Age' : [23, 22, 21, 20],
              'ID' : [19, 19, 19, 19],
              'Credit' : [17, 12, 17, 17]
}
df = pd.DataFrame(dict_Team2)
df

  Name Nationality Hobby  Age  ID  Credit
0  김현권      Korean    기타   23  19      17
1  안성현      Korean    넷플   22  19      12
2  나해란      Korean    애니   21  19      17
3  예라이     Spanish    게임   20  19      17

In [ ]:
df['Age'].median()

21.5

In [ ]:
df['Credit'].sum()

63

In [ ]:
df['Age'].mean()

21.5

In [ ]:
df['Credit']= pd.to_numeric(df['Credit'])

In [ ]:
#Mount google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [ ]:
df.to_csv("/content/drive/MyDrive/Colab Notebooks/output_csv1") #경로와 마지막으로 저장할 이름

In [ ]:
!git clone https://github.com/finterstellar/download.git

Cloning into 'download'...
remote: Enumerating objects: 71, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 71 (delta 1), reused 0 (delta 0), pack-reused 61
Unpacking objects: 100% (71/71), done.

SyntaxError: ignored